body {
  background: #eee;
  font-family: sans-serif;
  
  
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto ;
  padding: 10px;
}

.title {
  background: #e3f4ff;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 16px;
}

.content {
  background: #e3f4ff;
  /* Faltó darle más altura a la caja con el padding Mi respuesta: padding: 10px; */
  padding: 20px 10px;
}

.button-container {
  background: #e3f4ff;
  text-align: center;
  margin-top: 10px;
  padding: 10px;
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  /* Usé margin-left: 145px (a oj0) pero es margin: 0 auto */
  margin: 0 auto;
  padding: 10px 30px;
}